<h1 xmlns="http://www.w3.org/1999/html">Edit vuln {{ id }} from {{ host }}</h1>
<form class="example-form"  #myform = "ngForm" (ngSubmit)="onSubmit(myform)">
    <mat-form-field class="example-full-width">
        <mat-label>Current state</mat-label>
        <input matInput type = "text" name="currentState" [(ngModel)]="currentState"  autocomplete="off">
    </mat-form-field><br/>
    <div class="example-button-row">
        <br/><br/>
        <button mat-button mat-raised-button color="primary">Edit</button><br/><br/>
        <button mat-button mat-raised-button color="warn" (click)="delete()">Delete this vulnerability</button>
    </div>
</form>


