.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-form-field + .mat-form-field {
  margin-left: 3rem;
}

.bold {
  font-weight: bold;
}
