<span class="material-icons" style="cursor: pointer" (click)="createVuln()">add</span>
<br/><br/>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
</mat-form-field>

<div *ngIf="dataSource" class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="remediation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> remediation </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.remediation}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button (click)="editVuln(row.id)" class="marginAction">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteVuln(row.id, row.name)" class="marginAction">Delete</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>
