/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: black
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ff002a;
}


.mat-drawer-content {
    margin-left: 240px;
}


.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ff002a;
}

.ml-auto {
    margin-left: auto;
}

.h-100 {
    height: 100%;
}

.no-decoration {
    text-decoration: none;
}

.flex {
    display: flex;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

@for $i from 0 through 5 {
    .p-#{$i} {
        padding: $i+rem;
    }
    .pb-#{$i} {
        padding-bottom: $i+rem;
    }
    .pl-#{$i} {
        padding-left: $i+rem;
    }
    .pr-#{$i} {
        padding-right: $i+rem;
    }
    .pt-#{$i} {
        padding-top: $i+rem;
    }
    .px-#{$i} {
        padding-left: $i+rem;
        padding-right: $i+rem;
    }
    .py-#{$i} {
        padding-bottom: $i+rem;
        padding-top: $i+rem;
    }
}

.add-resource {
    padding-top: 1em;
    padding-bottom: 1.5em;
}
