.smersh-container {
    height: 100%;
    width: 100%;
}

.mat-lowimpact {
    background-color: #312E81;
    color: white;
 }

.mat-mediumimpact {
    background-color: #ffff00;
    color: black;
}

.mat-highimpact {
    background-color: #ffab40;
    color: white;
}

.mat-criticalimpact {
    background-color: #212121;
    color: white;
}

.vertical-center {
    align-self: center;
}

.smersh-header-image {
    transform: scale(1.5);
    background-image: url('http://localhost:4200/assets/logo.png');
    background-position: center;
    background-size: 78%;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#action_check {
    height: 95%;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    -moz-box-shadow:    1px 1px 5px 1px #ccc;
    box-shadow:         1px 1px 5px 1px #ccc;
    border-radius: 0.3em;
}


#dashboard {
    padding: 0 1em 1em 1em;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    -moz-box-shadow:    1px 1px 5px 1px #ccc;
    box-shadow:         1px 1px 5px 1px #ccc;
}
#host_list {
    max-height: 35em;
    overflow: auto;
}
#single_host{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-height: max-content;
    overflow: hidden;
}
#host_vulnList {
    width: 90%;
}
#add_vulnToHost {
    width: 7%;
    height: fit-content;
    align-self: center;
    padding: 0 1em 0 1em;
}
.clickableIcon {
    cursor: pointer;
    align-self: center;
    width: 3%;
}

#wrapper_generate {
    display: flex;
    justify-content: right;
}
#generate {
    margin: 1em 0 1em 1em;
}

.paddingcodi {
    padding-left: 30px;
}

#codi_content {
    display: flex;
    flex-direction: row;
}
#update_codi_button {
    display: flex;
    flex-direction: row;
}

#host_add {
    display: flex;
}
#host_add_manual{
    width: 55%;
    display: flex;
    justify-content: left;
}
#host_add_file {
    width: 45%;
    display: flex;
    justify-content: right;
}
