<mat-drawer-container class="example-container" style="width:100%">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem">Start at : {{ mission?.startDate | date: 'dd/MM/yyyy'}}</mat-list-item>
            <mat-list-item role="listitem">End at : {{mission?.EndDate  | date: 'dd/MM/yyyy' }}</mat-list-item>
            <mat-list-item role="listitem">
                    <mat-slide-toggle class="example-margin"
                                      [color]="color"
                                      (change)="nmapUpdate($event.checked)"
                                      [(ngModel)]="nmap"
                    >Nmap</mat-slide-toggle><br/>

                    <mat-slide-toggle class="example-margin"
                                      (change)="nessusUpdate($event.checked)"
                                      [color]="color"
                                      [(ngModel)]="nessus"
                    >Nessus</mat-slide-toggle><br/>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content style="width:100%;">
        <mat-card class="example-card" style="margin-left: 140px;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{mission?.name}} - <a  [routerLink]="['/missions/edit', mission?.id]">
                Edit
            </a></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Scope" *ngIf="hosts">
                    <mat-list>
                        <mat-list-item *ngFor="let host of hosts">
                            <mat-icon mat-list-icon style="cursor: pointer" (click)="done(host)">
                                <div *ngIf="host.checked; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>verified</ng-template>
                                <ng-template #elseBlock>hourglass_empty</ng-template>
                            </mat-icon>
                            <button mat-raised-button color="primary" (click)="goToAddVulns(host['@id'], mission.id)">Add vuln</button>
                            <div mat-line style="padding: 14px;">
                                <a class="violet" href="{{host.name}}" target='_blank' rel='noopener noreferrer'>{{host.name}}</a>

                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="accent" selected *ngIf="host.technology">{{host.technology}}</mat-chip>
                                    <mat-chip color=[vuln.color] *ngFor="let vuln of host.vulns" (click)="editThisVuln(vuln['@id'])">{{ vuln.translate.name }} - {{vuln.impact.name}} </mat-chip>
                                </mat-chip-list>
                                </div>
                        </mat-list-item>
                        <br/>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Pentesters" *ngIf="users">
                    <mat-list>
                        <mat-list-item *ngFor="let user of users">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                            <div mat-line>{{user.username}}</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-tab>

                <mat-tab label="Clients" *ngIf="clients">
                    <mat-list>
                        <mat-list-item *ngFor="let client of clients">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                            <div mat-line>{{client.firstName}}</div>
                            <div mat-line>{{client.lastName}}</div>
                            <div mat-line>{{client.phone}}</div>
                            <div mat-line>{{client.mail}}</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Credentials" *ngIf="mission?.credentials">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon>fingerprint</mat-icon>
                            <div mat-line>{{ mission?.credentials | json }}</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-tab>
                <mat-tab label="CodiMD" *ngIf="mission?.pathToCodi">
                    <mat-list  style="padding-top: 2rem;">
                        <mat-list-item>
                            <mat-icon mat-list-icon>link</mat-icon>
                            <div mat-line><a class="violet" href="{{mission?.pathToCodi}}" target='_blank' rel='noopener noreferrer'>{{mission?.pathToCodi}}</a></div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>

        </mat-card-content>
        <mat-card-actions><br/><br/>
            <mat-divider></mat-divider>

            <form class="example-form"  #myform = "ngForm" (ngSubmit)="addHost(myform)">
            <mat-form-field class="example-full-width">
                <input matInput type="text" name="name" placeholder="Ex : https://poule.op" ngModel autocomplete="off">
            </mat-form-field> -
                <mat-form-field class="example-full-width">
                    <input matInput type="text" name="technology" placeholder="Ex : Reactjs ( optionnal ) " ngModel autocomplete="off">
                </mat-form-field>
            <button mat-raised-button color="primary">ADD NEW HOST MANUALLY</button>
            </form>
        </mat-card-actions>
    </mat-card></mat-drawer-content>
</mat-drawer-container>
<br/><br/>

<form class="example-form2"  #myForm="ngForm" (ngSubmit)="addCodiMd(myForm)">
    <mat-form-field class="example-full-width">

        <input matInput type="text" name="pathToCodi" placeholder="Copy Path To Codi" ngModel>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-button mat-raised-button color="primary">Add /update codiMD link</button>
    </div>
</form>
<br/>
<button  mat-button mat-raised-button color="primary" (click)="generate()">Generate document</button>
<mat-card class="example-card" style="margin: 3em; background-color: gainsboro">
    <mat-card-header>
      <h2>Upload host file</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="uploadForm" id="k">
        <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
        <mat-form-field >
          <input matInput formControlName="filename" placeholder="File" readonly>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="selectFile()">Select</button>
      </form>
      <button mat-raised-button color="primary" (click)="sendFile()" >Send</button>
    </mat-card-content>
  </mat-card>
