.smersh-container {
    height: 100%;
    width: 100%;
    .mat-lowimpact {
        background-color: #1F1963;
        color: white;
     }
    
    .mat-mediumimpact {
        background-color: #FFBA29;
        color: black;
    }
    
    .mat-highimpact {
        background-color: #A10000;
        color: white;
    }
    
    .mat-criticalimpact {
        background-color: #211D1D;
        color: white;
    }
}


.vertical-center {
    align-self: center;
}

.smersh-header-image {
    transform: scale(1.5);
    background-image: url('http://localhost:4200/assets/logo.png');
    background-position: center;
    background-size: 78%;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nopadding {
    padding: 0;
    margin: 0;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

#action_check {
    height: 95%;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    -moz-box-shadow:    1px 1px 5px 1px #ccc;
    box-shadow:         1px 1px 5px 1px #ccc;
    border-radius: 0.3em;
    width: 20%;
    min-width: 16em;
    max-width: 20em;
}


#dashboard {
    padding: 0 1em 1em 1em;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    -moz-box-shadow:    1px 1px 5px 1px #ccc;
    box-shadow:         1px 1px 5px 1px #ccc;
}
#host_list {
    max-height: 35em;
    overflow: auto;
}
#single_host{
    width: 100%;
    justify-content: space-between;
    align-content: center;
    min-height: max-content;
    overflow: hidden;
}
#host_vulnList {
    width: 90%;
}
#add_vulnToHost {
    width: 7em;
    height: fit-content;
    align-self: center;
    padding: 0 1em 0s 1em;
}
.clickableIcon {
    cursor: pointer;
    align-self: center;
    width: 3%;
}

#generate {
    margin: 1em 0 1em 1em;
}

#codi_content {
    display: flex;
    flex-direction: row;
}
#update_codi_button {
    display: flex;
    flex-direction: row;
}

#host_add {
    display: flex;
}
#host_add_manual{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#host_add_file {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pathToCodi {
    margin-right: 1em;
}

.displayBlock {
    display: block
}


.smersh-techno {
    background-color: #5b5252 !important;
}
