<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened id="action_check">
        <mat-list role="list">
            <mat-list-item role="listitem">Start at : {{ mission?.startDate | date: 'dd/MM/yyyy'}}</mat-list-item>
            <mat-list-item role="listitem">End at : {{mission?.EndDate  | date: 'dd/MM/yyyy' }}</mat-list-item>
            <mat-list-item role="listitem">
                    <mat-slide-toggle class="example-margin"
                                      [color]="color"
                                      (change)="nmapUpdate($event.checked)"
                                      [(ngModel)]="nmap"
                    >Nmap</mat-slide-toggle><br/>

                    <mat-slide-toggle class="example-margin"
                                      (change)="nessusUpdate($event.checked)"
                                      [color]="color"
                                      [(ngModel)]="nessus"
                    >Nessus</mat-slide-toggle><br/>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content id="dashboard">
        <mat-card>
        <mat-card-header>
            <mat-card-title style="display:flex; flex-direction: row;">
                <mat-icon mat-card-avatar class="example-header-image vertical-center" style="margin-right: 0.7em;"></mat-icon>
                <span class="vertical-center">{{mission?.name}}</span>
                <button mat-raised-button color="primary" style="margin-left: 0.7em;" [routerLink]="['/missions/edit', mission?.id]">Edit</button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content id="dashboard_main">
            <mat-tab-group>
                <mat-tab label="Scope" *ngIf="hosts">
                    <mat-list id="host_list">
                        <mat-list-item style="height:auto" *ngFor="let host of hosts">
                            <div id="single_host">
                                <mat-icon mat-list-icon class="clickableIcon" (click)="done(host)">
                                    <div *ngIf="host.checked; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock>verified</ng-template>
                                    <ng-template #elseBlock>hourglass_empty</ng-template>
                                </mat-icon>
                                <div mat-line style="padding: 14px;" id="host_vulnList">
                                    <a class="violet" href="{{host.name}}" target='_blank' rel='noopener noreferrer' style="display: block">{{host.name}}</a>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="accent" selected *ngIf="host.technology">{{host.technology}}</mat-chip>
                                        <div *ngFor="let vuln of host.vulns">
                                            <mat-chip color=[vuln.color] (click)="editThisVuln(vuln.linked)">{{ vuln.translate.name }} - {{vuln.impact.name}} </mat-chip>
                                        </div>
                                    </mat-chip-list>
                                </div>
                                <button mat-raised-button color="primary" (click)="goToAddVulns(host['@id'], mission.id)" id="add_vulnToHost">Add vuln</button>
                                <mat-icon mat-list-icon color="warn" class="clickableIcon" style="margin-left: 0.5em;" (click)="deleteHost(host)">close</mat-icon>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Pentesters" *ngIf="users">
                    <mat-list>
                        <mat-list-item *ngFor="let user of users">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                            <div mat-line>{{user.username}}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>

                <mat-tab label="Clients" *ngIf="clients">
                    <mat-list>
                        <mat-list-item *ngFor="let client of clients">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                            <div mat-line>{{client.firstName}}</div>
                            <div mat-line>{{client.lastName}}</div>
                            <div mat-line>{{client.phone}}</div>
                            <div mat-line>{{client.mail}}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Credentials" *ngIf="mission?.credentials">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon>fingerprint</mat-icon>
                            <div mat-line>{{ mission?.credentials | json }}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="CodiMD" *ngIf="mission?.pathToCodi">
                    <mat-list  style="padding-top: 2rem;" id="codi_content">
                        <mat-list-item>
                            <mat-icon mat-list-icon>link</mat-icon>
                            <div mat-line><a class="violet" href="{{mission?.pathToCodi}}" target='_blank' rel='noopener noreferrer' id="update_codi_button">{{mission?.pathToCodi}}</a></div>
                        </mat-list-item>

                    </mat-list>
                </mat-tab>
                <mat-tab label="Hacktivity" *ngIf="mission?.steps">
                    <form class="example-form"  #myform = "ngForm" (ngSubmit)="addStep(myform)">
                    <mat-form-field>
                        <input matInput ngModel  name="findAt" [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                               [min]="minDate" [max]="maxDate" [disabled]="disabled">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
                                                 [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
                                                 [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
                            <!-- Custom icon or text of Apply icon -->
                            <ng-template>
                                <!-- <mat-icon>star</mat-icon> -->
                                <span>OK</span>
                            </ng-template>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" name="description" placeholder="get ntlm hash" ngModel autocomplete="off">
                        </mat-form-field> -
                        <button mat-raised-button color="primary">ADD MY STEP</button>
                    </form>
                    <mat-list>
                        <mat-list-item *ngFor="let step of steps">
                            <mat-icon mat-list-icon>schedule</mat-icon>
                            <div mat-line>Action : {{step.description}}</div>
                            <div mat-line>Date : {{step.findAt | date }} </div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>

        </mat-card-content>
        <mat-divider ></mat-divider>
        <mat-card-actions id="host_add">

            <div id="host_add_manual">
            <form class="example-form"  #myform = "ngForm" (ngSubmit)="addHost(myform)">
            <mat-form-field class="example-full-width">
                <input matInput type="text" name="name" placeholder="Ex : https://poule.op" ngModel autocomplete="off">
            </mat-form-field> -
                <mat-form-field class="example-full-width">
                    <input matInput type="text" name="technology" placeholder="Ex : Reactjs ( optionnal ) " ngModel autocomplete="off">
                </mat-form-field>
            <button mat-raised-button color="primary">ADD NEW HOST MANUALLY</button>
            </form>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div id="host_add_file">
                <form [formGroup]="uploadForm" id="k">
                    <input type="file" id="userFile" (change)="onSelectFile($event)" #fileInput style="display: none">
                    <mat-form-field >
                      <input matInput formControlName="filename" placeholder="File" readonly>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="selectFile()">Select</button>
                    <button mat-raised-button color="primary" (click)="sendFile()" >ADD NEW HOSTS FROM</button>
                </form>
            </div>
        </mat-card-actions>
    </mat-card>
    <div id="wrapper_generate">
        <button  mat-button mat-raised-button color="primary" (click)="generate()" id="generate">Generate document</button>
            <form class="paddingcodi"  #myForm="ngForm" (ngSubmit)="addCodiMd(myForm)">
                <mat-form-field class="example-full-width">

                    <input matInput type="text" class="vertical-center" name="pathToCodi" placeholder="Copy Path To Codi" ngModel>
                </mat-form-field>
                <div class="example-button-row vertical-center">
                    <button mat-button mat-raised-button color="primary">Add /update codiMD link</button>
                </div>
            </form>
    </div>
</mat-drawer-content>
</mat-drawer-container>
