<div class="flex">
    <h1>Add vulnerability to <b>{{ host.name }}</b></h1>
    <div (click)="createVuln()" class="ml-auto">
        <button mat-raised-button class="h-100" color="primary">
            <span class="my-auto">Create new vuln</span>
            <span class="material-icons" style="cursor: pointer">add</span>
        </button>
    </div>
</div>
<form class="smersh-form" #myform= "ngForm" (ngSubmit)="onSubmit(myform)">
    <mat-form-field appearance="fill" class="addSpace">
        <mat-label>Select Vuln</mat-label>
        <mat-select [value]="selectedVuln" (selectionChange)="Vulns($event.value)">
            <mat-option *ngFor="let vuln of vulns" [value]="vuln.value">
                {{vuln.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select Impact</mat-label>
        <mat-select [value]="selectedImpact" (selectionChange)="Impacts($event.value)">
            <mat-option *ngFor="let impact of impacts" [value]="impact.value">
                {{impact.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="smersh-full-width">
        <mat-label>Current State</mat-label>
        <textarea rows="20" matInput [(ngModel)]="currentStateUser" name="currentState"></textarea>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-button mat-raised-button color="primary">Add</button>
    </div>
</form>
