<h1>Create impact</h1>
<form class="smersh-form"  #myform = "ngForm" (ngSubmit)="onSubmit(myform)">
    <mat-form-field class="smersh-full-width">
        <mat-label>{{ 'impact-create.NAME' | translate }}</mat-label>
        <input matInput type = "text" name="name" placeholder = "Ex : Name" ngModel autocomplete="off">
    </mat-form-field>
    <div class="smersh-button-row">
        <button mat-button type="submit" mat-raised-button color="accent">{{ 'button.SUBMIT' | translate }}</button>
    </div>
</form>
