<div class="container-login-form">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="login-form">
        <img src="./assets/logo.png"
             class="logo">
        <h2>Smersh Authentication</h2>
        <form (submit)="submit()"
              class="form">
            <mat-form-field appearance="outline">
                <input matInput
                       data-cy="login"
                       [(ngModel)]="username"
                       type="text"
                       name="login"
                       autofocus
                       autocomplete="off"
                       placeholder="Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput
                       data-cy="password"
                       [(ngModel)]="password"
                       type="password"
                       name="password"
                       autocomplete="off"
                       placeholder="Password">
            </mat-form-field>
            <button mat-raised-button
                    data-cy="submit"
                    color="primary">Connect</button>
        </form>
    </div>
</div>
