mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 30%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.marginAction {
    margin-left: 1rem; margin-right: 1rem;
}
