<div class="flex">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
    </mat-form-field>
    <div (click)="createMission()" class="cursor flex ml-auto">
        <span class="my-auto">
            Add new Mission
        </span>
        <span class="my-auto material-icons">
            add
        </span>
</div>
</div>

<div *ngIf="dataSource" class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="button">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="showMission(row.id)" class="marginAction">Show</button>
                <button mat-raised-button (click)="editMission(row.id)" class="marginAction">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteMission(row.id, row.name)" class="marginAction">Delete</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>
