<span class="material-icons" style="cursor: pointer" (click)="createUser()">add</span>
<br/><br/>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
</mat-form-field>

<div *ngIf="dataSource" class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let row">  {{ row.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.roles | json}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.enabled == 1 ? 'Enable': 'Disable'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-raised-button (click)="editUser(row.id)">Edit</button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-raised-button (click)="deleteUser(row.id)">Delete</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>
