<h1 data-cy="title">Welcome to your dashaboard </h1>
<div *ngIf="missions">
    <p>
    <span matBadge="{{missions.length}}" matBadgeOverlap="false">Assigned Mission</span>
    </p>
</div>
<mat-card-content>
    <mat-tab-group>
        <mat-tab label="My missions" >
            <div *ngIf="missions.length ; else loggedOut">
            <mat-list>
                <mat-list-item *ngFor="let mission of missions">
                    <span class="smersh-padding-between">{{mission.name}}</span>
                    <button mat-raised-button color="accent" [routerLink]="['/missions/',mission.id]" data-cy="show-mission">Show</button>
                    <button mat-raised-button (click)="editMission(mission.id)" data-cy="edit-mission" class="smersh-padding-between">Edit</button>
                    <mat-progress-bar mode="determinate" class="smersh-padding" value={{mission.current}}></mat-progress-bar>
                    <span class="smersh-padding-between">{{mission.current }} %</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            </div>
            <ng-template #loggedOut>
                You don't have mission yet.
            </ng-template>
        </mat-tab>
        <mat-tab label="My roles" *ngIf="missions">
            <mat-list>
                <mat-list-item *ngFor="let role of roles">
                    <mat-icon mat-list-icon>label_important</mat-icon>
                    <div mat-line>{{role}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</mat-card-content>
