<div class="mat-form-field-flex flex">
  <mat-form-field class="pr-2" *ngFor="let filter of filters">
    <input matInput (keyup)="applyFilter(filter, $event.target)" placeholder="Filter by {{ filter }}">
  </mat-form-field>
  <a *ngIf="isEnabledCreation()" class="ml-auto flex no-decoration add-resource" routerLink="{{ routerHelper.redirectToCreate() }}" routerLinkActive="active">
    <span class="my-auto">
      Add new {{ singularResource }}
    </span>
    <span class="my-auto material-icons">
      add
    </span>
  </a>
</div>

<div *ngIf="dataSource" class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let field of fields" matColumnDef="{{ field }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ field }} </mat-header-cell>
      <ng-template [ngIf]="field.match(actionMatcher)" [ngIfElse]="elseTemplate">
        <mat-cell *matCellDef="let row">
          <button mat-raised-button color="{{ row[field] }}" (click)="applyActionOnResource(field, row.id)">{{ field }}</button>
        </mat-cell>
      </ng-template>
      <ng-template #elseTemplate>
        <mat-cell *matCellDef="let row">{{ row[field] }}</mat-cell>
      </ng-template>
    </ng-container>
    <mat-header-row *matHeaderRowDef="fields"></mat-header-row>
    <mat-row *matRowDef="let row; columns: fields;"></mat-row>
  </mat-table>
</div>
