<div class="mat-form-field-flex flex">
  <mat-form-field class="pr-2" *ngFor="let filter of filters">
    <input matInput (keyup)="applyFilter(filter, $event.target)" placeholder="Filter by {{ filter }}">
  </mat-form-field>
  <div class="example-button-row ml-auto flex no-decoration add-resource" *ngIf="isEnabledCreation()">
    <a mat-button routerLink="{{ routerHelper.redirectToCreate() }}" routerLinkActive="active">{{ 'button.ADD' | translate }} {{ singularResource }}
      <span class="my-auto material-icons">
      add
    </span>
    </a>
  </div>
</div>

<div *ngIf="dataSource" class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let field of fields" matColumnDef="{{ field }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ field }} </mat-header-cell>
      <ng-template [ngIf]="field.match(actionMatcher)" [ngIfElse]="elseTemplate">
        <mat-cell *matCellDef="let row">
          <button data-cy="action-button-{{ field }}" mat-raised-button color="{{ row[field] }}" (click)="applyActionOnResource(field, row.id)">{{ field }}</button>
        </mat-cell>
      </ng-template>
      <ng-template #elseTemplate>
        <mat-cell *matCellDef="let row">{{ row[field] }}</mat-cell>
      </ng-template>
    </ng-container>
    <mat-header-row *matHeaderRowDef="fields"></mat-header-row>
    <mat-row *matRowDef="let row; columns: fields;"></mat-row>
  </mat-table>
  <mat-paginator (page)="onUpdatePaginator($event)" [length]="paginator.count" [pageSize]="paginator.itemsPerPage" [pageSizeOptions]="paginator.options"></mat-paginator>
</div>
