<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
</mat-form-field>

<div *ngIf="dataSource" class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row">  {{ row.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> phone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.mail }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-raised-button (click)="editClient(row.id)">Edit</button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-raised-button color="warn" (click)="deleteClient(row.id)">delete</button></mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>
