.smersh-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.smersh-full-width {
  width: 100%;
}

.smersh-h2 {
  margin: 10px;
}

.smersh-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.smersh-margin {
  margin: 10px;
}
