<div class="example-container app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <img [routerLink]="['/missions/']" src="/assets/logo.png" class="logo-navbar"/>
    {{title}} - {{version}} <span class="example-spacer"></span>
    <div class="smersh-button-row">
      <button mat-mini-fab color="primary" (click)="switchToFR()">FR</button>
      <button mat-mini-fab color="primary" (click)="switchToEN()">EN</button>
      <button mat-mini-fab color="warn" (click)="themeService.toggleTheme()">
        <mat-icon>
          {{ themeService.currentTheme === 'dark-theme' ? 'light' : 'dark' }}_mode
        </mat-icon>
      </button>
    </div>
    <button mat-raised-button (click)="logout()">Logout - {{ username }}</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="sizeofNavbar" opened="true" #snav mode="side" fixedInViewport="true" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item data-cy="links" routerLink="/missions">
          <b>Dashboard</b>
        </a>
        <a mat-list-item data-cy="links" *ngFor="let item of fillerNav | keyvalue" [routerLink]="[item.value]">
          <b>{{item?.key}}</b>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="p-2">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>



