<div [class.example-is-mobile]="mobileQuery.matches" class="example-container app-container">
  <mat-toolbar class="example-toolbar" color="primary">
    <img [routerLink]="['/missions/']" class="logo-navbar" src="/assets/logo.png"/>
    {{title}} - {{version}} <span class="example-spacer"></span>
    <div class="smersh-button-row">
      <mat-form-field>
        <mat-select (selectionChange)="localeService.switchLanguage($event.value)" [value]="currentLang">
          <mat-option *ngFor="let lang of languages" [value]="lang">
            <img class="lang-selector" src="/assets/flags/{{ lang }}.png"/>
            {{ lang | titlecase }}
          </mat-option>
          <mat-select-trigger>
            <img class="lang-selector" src="/assets/flags/{{ currentLang }}.png"/> {{ currentLang | titlecase }}
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>
      <button (click)="themeService.toggleTheme()" color="warn" mat-mini-fab>
        <mat-icon>
          {{ themeService.currentTheme === 'dark-theme' ? 'light' : 'dark' }}_mode
        </mat-icon>
      </button>
    </div>
    <button (click)="logout()" mat-raised-button>Logout - {{ username }}</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav class="sizeofNavbar" fixedInViewport="true" fixedTopGap="56" mode="side" opened="true">
      <mat-nav-list>
        <a data-cy="links" mat-list-item routerLink="/missions">
          <b>{{ 'side-bar.DASHBOARD' | translate }}</b>
        </a>
        <a *ngFor="let item of fillerNav | keyvalue" [routerLink]="[item.value]" data-cy="links" mat-list-item>
          <b>{{ 'side-bar.' + (item?.key.toUpperCase()) | translate }}</b>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="p-2">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>



