<h1 xmlns="http://www.w3.org/1999/html">Edit user {{ id }}</h1>
<form class="example-form"  #myform = "ngForm" (ngSubmit)="onSubmit(myform)">
    <mat-form-field class="example-full-width">
        <mat-label>{{ 'user-create.USERNAME' | translate }}</mat-label>
        <input matInput type = "text" name="username" [(ngModel)]="username"  autocomplete="off">
    </mat-form-field>
    <mat-form-field class="smersh-full-width">
        <mat-label>{{ 'user-create.EMAIL' | translate }}</mat-label>
        <input matInput type="text" name="mail" [(ngModel)]="mail" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="smersh-full-width">
        <mat-label>{{ 'user-create.PHONE' | translate }} </mat-label>
        <input matInput type="text" name="phone" [(ngModel)]="phone" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="smersh-full-width">
        <mat-label>{{ 'user-create.CITY' | translate }}</mat-label>
        <input matInput type="text" name="city" [(ngModel)]="city" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="smersh-full-width">
        <mat-label>Trigram : </mat-label>
        <input matInput type="text" name="trigram" [(ngModel)]="trigram" autocomplete="off">
    </mat-form-field>
    <div class="example-button-row">
        <br/><br/>
        <button mat-button mat-raised-button color="accent">{{ 'button.SUBMIT' | translate }}</button>
    </div>
</form>
