default:
    suites:
        impact:
            paths: [ '%paths.base%/features/impact.feature' ]
            contexts:
                - App\Tests\Behat\ClientContext:
                      kernel: '@kernel'
                - App\Tests\Behat\DemoContext:
                      kernel: '@kernel'
                - App\Tests\Behat\FeatureContext
                - App\Tests\Behat\ImpactContext:
                      kernel: '@kernel'
                - Behatch\Context\JsonContext
        host:
            paths: [ '%paths.base%/features/host.feature' ]
            contexts:
                - App\Tests\Behat\ClientContext:
                      kernel: '@kernel'
                - App\Tests\Behat\DemoContext:
                      kernel: '@kernel'
                - App\Tests\Behat\FeatureContext
                - App\Tests\Behat\HostContext:
                      kernel: '@kernel'
                - Behatch\Context\JsonContext
        step:
            paths: [ '%paths.base%/features/step.feature' ]
            contexts:
                - App\Tests\Behat\ClientContext:
                      kernel: '@kernel'
                - App\Tests\Behat\DemoContext:
                      kernel: '@kernel'
                - App\Tests\Behat\FeatureContext
                - App\Tests\Behat\StepContext:
                      kernel: '@kernel'
                - Behatch\Context\JsonContext


    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~
